@import '/src/setting';

$column-border-radius: 7px;

$scroll-bg-color: rgba(255, 255, 255, 0.24);

.board-content{
    display: flex;
    height: $board-content-height;
    overflow-x: auto;
    overflow-y: hidden;
    &:after {
        content: '';
        flex: 0 0 $gap;
    }
    &::-webkit-scrollbar {
        -webkit-appearance: none;
    }
    &::-webkit-scrollbar:horizontal {
        height: 11px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: $scroll-bg-color;
        border-radius: $column-border-radius;
    }

    .cards-drop-preview {
        background-color: rgba(150, 150, 200, 0.1);
        border: 1px dashed #abc;
        margin: 5px 45px 5px 5px;
      }

    .add-column {
        max-width: 32vh;
        width: 32vh;
        line-height: 32px;
        padding: 4px 0 4px 15px;
        cursor: pointer;
        color: white;
        margin-left: $gap;
        font-size: 15px;
        background-color: hsla(0, 0%, 100%, .24);
        border-radius: $column-border-radius;
        &:hover {
            background-color: hsla(0, 0%, 100%, .34);
        }
    }

    .add-name-column {
        max-width: 32vh;
        width: 32vh;
        background-color: $column-bg-color;
        line-height: 32px;
        padding: 4px 10px;
        margin-left: $gap;
        border-radius: $column-border-radius;
        input.input-title-column {
            height: 40px;
            margin: 5px 0;
        }
        span.cancel-new-column {
            margin-left: $gap;
            cursor: pointer;
            i {
                font-size: 18px;
                color: $alert-danger;
                &:hover {
                    color: darken($alert-danger, 10)
                }
            }
        }
    }
}